@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap");

:root {
  --primaryTextColor: #232e35;
  --secondaryTextColor: #656d72;

  --borderColor: #f1f1f1;
  --lineColor: #d9d9d9;

  --primaryBackgroundColor: #fff;
  --secondaryBackgroundColor: #fbfbfb;
  --thirdBackgroundColor: #f5f3fe;

  --primaryIconColor: #5f6f52;
  --primaryIconColorHover: #304d30;

  --sectionPadding: 6rem 0;

  --itemBorderRadius: 0.7rem;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

body {
  font-family: "Roboto", sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6,
strong {
  color: var(--primaryTextColor);
}

p {
  font-size: 1rem;
  line-height: 1.9rem;
}

p,
label,
input,
textarea,
li {
  color: var(--secondaryTextColor);
}

span {
  color: var(--primaryIconColor);
}

a {
  text-decoration: none;
}

.main-container {
  width: 1200px;
  margin: 0 auto;
}

@media screen and (max-width: 1200px) {
  .main-container {
    width: 90%;
  }
}

.btn {
  padding: 1rem 1.5rem;
  background: white;
  border: 1.5px solid var(--borderColor);
  cursor: pointer;
  transition: 0.2s ease-in-out;
}

.btn:hover {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.section-title {
  margin: 1rem 0 4rem;
  font-size: 2rem;
}

.pre-title {
  text-transform: uppercase;
  letter-spacing: 0.5rem;
  color: var(--secondaryTextColor);
  position: relative;
  padding-left: 40px;
  width: fit-content;
  font-weight: 400;
  font-size: 0.9rem;
}

.pre-title::before {
  content: "";
  width: 30px;
  height: 1px;
  background: var(--lineColor);
  position: absolute;
  display: block;
  left: 0;
  top: 50%;
}

.grid-3 {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 3rem;
}

.nav {
  display: flex;
  justify-content: space-between;
  padding: 2rem 0;
}

nav ul {
  list-style: none;
  display: flex;
  gap: 3rem;
}

.logo {
  display: flex;
  align-items: center;
  font-weight: 700;
  font-size: 2rem;
}

.logo a {
  color: var(--primaryTextColor);
}

nav ul li {
  display: flex;
  align-items: center;
}

nav ul li a {
  color: var(--primaryTextColor);
  transition: 0.7s ease;
  min-width: 44px;
  min-height: 44px;
  display: flex;
  justify-content: center;
  align-items: center;
}

nav ul li a:hover {
  color: var(--primaryIconColor);
  text-decoration: underline;
}

.burger div {
  width: 25px;
  height: 2px;
  background-color: #000;
  margin: 7px;
  transition: all 0.3s;
  z-index: 99;
}

.burger {
  display: none;
  z-index: 99;
  position: absolute;
  top: 33px;
  right: 35px;
}

#hero {
  height: 650px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
}

.hero-name {
  font-size: 3rem;
  font-weight: 700;
  margin: 0.5rem 0 1rem;
}

.hero-right img {
  width: min(25rem, 90%);
  border-radius: 100%;
}

.hero-right {
  display: flex;
  justify-content: center;
}

.hero-right:hover img {
  box-shadow: 0 0 12px rgba(0, 0, 0, 0.6);
}

#skills {
  background-color: var(--secondaryBackgroundColor);
  padding: var(--sectionPadding);
}

.skills .pre-title {
  margin: 0 auto;
}

.skills-title {
  text-align: center;
}

.skill {
  padding: 3rem 2rem;
  text-align: center;
  background: var(--primaryIconColor);
  border-radius: var(--itemBorderRadius);
  transition: background 0.5s, transform 0.5s;
}

.skill h4 {
  color: var(--primaryBackgroundColor);
  margin: 1.5rem 0;
  font-weight: 600;
  font-size: 1.1rem;
}

.skill p {
  color: var(--primaryBackgroundColor);
  font-size: 0.9rem;
}

.skill-icon {
  background: var(--thirdBackgroundColor);
  width: fit-content;
  margin: 0 auto;
  padding: 1rem 1.3rem;
  border-radius: 0.5rem;
}

.skill-icon svg {
  fill: var(--primaryIconColor);
}

.skill-icon {
  background: var(--thirdBackgroundColor);
  width: fit-content;
  margin: 0 auto;
  padding: 1rem 1.3rem;
  border-radius: 0.5rem;
}

.skill-icon svg {
  fill: var(--primaryIconColor);
}

.skill:hover {
  background: var(--primaryIconColorHover);
  transform: translateY(-10px);
}

#projects {
  padding: var(--sectionPadding);
}

.project {
  border-radius: var(--itemBorderRadius);
  overflow: hidden;
  border: 1px solid var(--borderColor);
}

.project-cover {
  height: 250px;
}

.project img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: transform 0.5s;
}

.project-info {
  padding: 2rem 1.5rem;
}

.project-title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;
  margin-bottom: 15px;
}

.project h4 {
  font-weight: 500;
  font-size: 1.05rem;
}

.project:hover img {
  transform: scale(1.1);
}

.project-title a svg:hover {
  fill: var(--primaryIconColor);
}

.project-title a svg {
  transition: 0.2s ease-in-out;
}

#contact {
  padding: var(--sectionPadding);
  background: var(--secondaryBackgroundColor);
}

.contact {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
  gap: 3rem;
}

.contact-form div {
  margin-bottom: 1.4rem;
}

.contact-form input,
.contact-form textarea {
  width: 100%;
  padding: 0.75rem 1.3rem;
  font-family: "Roboto", sans-serif;
  background: var(--primaryBackgroundColor);
  border: 1px solid var(--secondaryTextColor);
  border-radius: 3px;
  resize: none;
}

.contact-form input::placeholder,
.contact-form textarea::placeholder {
  color: #9d9fa1;
}

.contact-form input:focus,
.contact-form textarea:focus {
  outline: none;
  border: 1px solid #7d7d7d;
}

.btn-submit {
  width: 100%;
  min-height: 44px;
  padding: 0.75rem 1.3rem;
  background-color: var(--primaryIconColor);
  color: #fff;
  border: none;
  border-radius: 3px;
  cursor: pointer;
  transition: 0.2s ease-in-out;
}

.btn-submit:hover {
  background-color: var(--primaryIconColorHover);
}

.contact-item {
  display: flex;
  gap: 1.5rem;
  margin-bottom: 2.5rem;
}

.contact-item-icon {
  background: var(--thirdBackgroundColor);
  width: 53px;
  height: 53px;
  border-radius: 9px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.contact-item-icon svg {
  fill: var(--primaryIconColor);
}

.contact-item-detail h4 {
  margin-bottom: 0.6rem;
}

footer {
  padding: 4rem 0;
  background: var(--thirdBackgroundColor);
  text-align: center;
}

.footer-icons {
  margin-bottom: 1rem;
}

.footer-icons a {
  margin: 0 0.5rem;
  min-width: 44px;
  min-height: 44px;
}

.footer-icons svg {
  fill: #3e3f40;
  transition: transform 0.3s;
}

.footer-icons a:hover svg {
  fill: var(--primaryIconColorHover);
  transform: translateY(-5px);
}
